<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>livro-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>livro.controle.web.Servlet</servlet-class>
  </servlet>
  
 
 
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/FormLivros</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Painel</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Finalizar</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Sair</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarEndereco</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCupom</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/FormCliente</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarLivro</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/SalvarCliente</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Compra</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Carrinho</url-pattern>
  </servlet-mapping> 
  
  
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Livro</url-pattern>
  </servlet-mapping> 
 
  
  
</web-app>
